* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #009BAA;
    font-family: sans-serif;
}

.login-form {
    width: 75%;
    margin: 65px auto;
    display: flex;
    border-radius: 10px;
    background-color: #009BAA;
    flex-direction: column;
}

h2{
   align-self: center;
   color: white;
   margin: 20px;;
}

.form{
    display: flex;
    flex-direction: column;
}

.input  {
    align-self: center;
    width: 70%;
    margin: 10px;
    border-radius: 10px;
    padding: 13px;
    text-align: center;
    border-width: 3px;
    border-color: #00AABB ;
}

.button {
    align-self: center;
    align-items: center;
    background-color: #005AAA;
    color: white;
    font-weight: bold;
    padding: 13px;
    width: 70%;
    border-width: 3px;
    border-radius: 10px;
    border-color:#006BC9;
    font-size: 15px;
    margin-bottom: 10px;
}